body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(181,181,181);
}

header {
  overflow: hidden;
  background-color: rgb(217,217,217);
  padding: 20px 10px;
  text-align: center;
}

#logo, #noticia, .paginas {
  float: left;
  width: 30%;
  height: 30%;
  background-color: rgb(84,84,84);
  color: rgb(181,181,181);
  border-width: thick;
  border-style: solid;
  border-color: rgb(217,217,217);
}

.fundagem {
  border-width: 100%;
  border-style: solid;
  border-color: rgb(217,217,217);
  color: black;
}
