body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(217,217,217);
}

header {
  overflow: hidden;
  background-color: rgb(217,217,217);
  text-align: center;
}

#logo, #noticia, .paginas {
  float: left;
  width: 30%;
  height: 30%;
  background-color: rgb(84,84,84);
  color: rgb(181,181,181);
  border-width: thick;
  border-style: solid;
  border-color: rgb(217,217,217);
}

.fundagem {
  border-width: 100%;
  border-style: solid;
  border-color: rgb(217,217,217);
  color: black;
}

.titulo {
  float: left;
  width: 91%;
  height: 100%;
  background-color: rgb(181,181,181);
  border-width: thick;
  border-style: solid;
  border-color: rgb(217,217,217);
  color: rgb(217,217,217);
  text-align: center;
}

.conteudos {
}

#p {
	text-align: center;
}

footer {
  overflow: hidden;
  background-color: rgb(166,166,166);
  text-align: center;
}

#link {
	border-width: thick;
	border-style: solid;
	border-color: rgb(217,217,217);
	background-color: rgb(217,217,217);
}
